[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "fastslam64"]
	path = ~/colcon_ws/fastslam64
	url = https://github.com/GryphonRacingAI/fastslam64.git